{
	"useTabs": true,
	"semi": true,
	"singleQuote": false,
	"quoteProps": "consistent",
	"jsxSingleQuote": false,
	"trailingComma": "all",
	"bracketSpacing": true,
	"bracketSameLine": false,
	"arrowParens": "always",
	"endOfLine": "lf",
	"proseWrap": "never",
	"tabWidth": 4,
	"htmlWhitespaceSensitivity": "css",
	"plugins": ["prettier-plugin-astro"],
	"printWidth": 3000,
	"overrides": [
		{
			"files": "*.md",
			"options": { "useTabs": false, "tabWidth": 4 }
		},
		{
			"files": "*.astro",
			"options": { "singleAttributePerLine": false }
		}
	]
}
