@charset "UTF-8";

/***********/
/* GENERAL */
/***********/

@font-face {
	font-family: 'Montserrat';
	font-weight: 400;
	font-display: swap;
	font-style: normal;
	font-named-instance: 'Regular';
	src: url("./Montserrat-Regular.woff2") format("woff2");
}
@font-face {
	font-family: 'Montserrat';
	font-weight: 700;
	font-display: swap;
	font-style: normal;
	font-named-instance: 'Bold';
	src: url("./Montserrat-ExtraBold.woff2") format("woff2");
}

*, *::before, *::after { box-sizing: border-box; }

html { font-family: 'Montserrat', Trebuchet, sans-serif; font-size: 16px; line-height: 1.5em; }

body { display: block; min-height: 100vh; margin: 0; text-rendering: optimizeSpeed; }

img, picture { max-width: 100%; display: block; }

input, button, textarea, select { font: inherit; }

strong { font-weight: 900; }

a { color: #627500; }
a:hover { color: #000; }

.ScreenReaders { position: absolute; width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden; clip: rect(0, 0, 0, 0);white-space: nowrap; border-width: 0; }

.Button { display: block; padding: 0.5em 1em; background: #627500; color: #fff; font-weight: normal; text-transform: uppercase; text-decoration: none; text-align: center; border-radius: 0.5em;
	&:hover { background: #000; color: #fff; }
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

/**********/
/* LAYOUT */
/**********/


/*********/
/* PRINT */
/*********/

@media (prefers-reduced-motion: reduce) {
	html:focus-within { scroll-behavior: auto; }
	*, *::before, *::after { animation-duration: 0.01ms !important; animation-iteration-count: 1 !important; transition-duration: 0.01ms !important; scroll-behavior: auto !important; }
}

@media print {

	* { background-image: none; background: white; color: black; }

	@page { margin: 2cm; }
	@page :first { margin-top: 3cm; }
	@page :left { margin-right: 3cm; }
	@page :right { margin-left: 3cm; }

	html { background: white; font-size: 12pt; line-height: 1.5em; }

	a:link, a:visited { color: #00f; background: transparent; font-weight: bold; }
	a:not([href^="http"]):after { content: " (" attr(href) ")"; font-size: 0.9em; }
	a[href^="/"]:after { content: " (https://viorelmocanu.github.io/LinkInBio" attr(href) ") "; }
	/*a:not(:local-link):after { content: " (" attr(href) ")»"; }*/
	a:after > img { content: ""; }

	body::after { content: "Copyright © Viorel Mocanu, toate drepturile rezervate."; display: block; text-align: center; }

	.Container { background: transparent; margin: 0; padding: 0; }

	h1, h2, h3, h4, h5, h6 { page-break-after: avoid; page-break-inside: avoid }
	h1 + h2 { page-break-before: avoid; }

	table, pre, img, svg, blockquote, a { break-inside: avoid; }

	ul, ol, dl { page-break-before: avoid; }

	.TitlulPaginii { padding-top: 0.5em; }
	.ListaText { display: inline; color: #00f; white-space: normal; text-decoration: underline; }

}